@font-face {
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url('@/assets/fonts/YekanBakh/YekanBakh-Regular.woff2') format("woff2"), url('@/assets/fonts/YekanBakh/YekanBakh-Regular.ttf') format("truetype")
}

@font-face {
    font-family: YekanBakh;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('@/assets/fonts/YekanBakh/YekanBakh-Medium.woff2') format("woff2"), url('@/assets/fonts/YekanBakh/YekanBakh-Medium.ttf') format("truetype")
}

.shadow-design-base {
    --tw-shadow: 0px 2px 14px #0000001a;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.rounded-inherit {
    border-radius: inherit;
}


body,
html {
    user-select: none !important;
}

body * {
    font-family: inherit;
}

.fade-in-linear-enter-active,
.fade-in-linear-leave-active {
    transition: getCssVar('transition-fade', 'linear');
}

.fade-in-linear-enter-from,
.fade-in-linear-leave-to {
    opacity: 0;
}

.collapse-transition-fade-in-linear-enter-active,
.collapse-transition-fade-in-linear-leave-active {
    transition: getCssVar('transition-fade', 'linear');
}

.collapse-transition-fade-in-linear-enter-from,
.collapse-transition-fade-in-linear-leave-to {
    opacity: 0;
}

.collapse-transition-fade-in-enter-active,
.collapse-transition-fade-in-leave-active {
    transition: all getCssVar('transition-duration') cubic-bezier(0.55, 0, 0.1, 1);
}

.collapse-transition-fade-in-enter-from,
.collapse-transition-fade-in-leave-active {
    opacity: 0;
}

.collapse-transition-zoom-in-center-enter-active,
.collapse-transition-zoom-in-center-leave-active {
    transition: all getCssVar('transition-duration') cubic-bezier(0.55, 0, 0.1, 1);
}

.collapse-transition-zoom-in-center-enter-from,
.collapse-transition-zoom-in-center-leave-active {
    opacity: 0;
    transform: scaleX(0);
}

.collapse-transition-zoom-in-top-enter-active,
.collapse-transition-zoom-in-top-leave-active {
    opacity: 1;
    transform: scaleY(1);
    transition: getCssVar('transition-md-fade');
    transform-origin: center top;

    &[data-popper-placement^='top'] {
        transform-origin: center bottom;
    }
}

.collapse-transition-zoom-in-top-enter-from,
.collapse-transition-zoom-in-top-leave-active {
    opacity: 0;
    transform: scaleY(0);
}

.collapse-transition-zoom-in-bottom-enter-active,
.collapse-transition-zoom-in-bottom-leave-active {
    opacity: 1;
    transform: scaleY(1);
    transition: getCssVar('transition-md-fade');
    transform-origin: center bottom;
}

.collapse-transition-zoom-in-bottom-enter-from,
.collapse-transition-zoom-in-bottom-leave-active {
    opacity: 0;
    transform: scaleY(0);
}

.collapse-transition-zoom-in-left-enter-active,
.collapse-transition-zoom-in-left-leave-active {
    opacity: 1;
    transform: scale(1, 1);
    transition: getCssVar('transition-md-fade');
    transform-origin: top left;
}

.collapse-transition-zoom-in-left-enter-from,
.collapse-transition-zoom-in-left-leave-active {
    opacity: 0;
    transform: scale(0.45, 0.45);
}

.collapse-transition {
    transition: getCssVar('transition-duration') height ease-in-out,
        getCssVar('transition-duration') padding-top ease-in-out,
        getCssVar('transition-duration') padding-bottom ease-in-out;
}

.collapse-transition-collapse-transition-leave-active,
.collapse-transition-collapse-transition-enter-active {
    transition: getCssVar('transition-duration') max-height ease-in-out,
        getCssVar('transition-duration') padding-top ease-in-out,
        getCssVar('transition-duration') padding-bottom ease-in-out;
}

.horizontal-collapse-transition {
    transition: getCssVar('transition-duration') width ease-in-out,
        getCssVar('transition-duration') padding-left ease-in-out,
        getCssVar('transition-duration') padding-right ease-in-out;
}

.collapse-transition-list-enter-active,
.collapse-transition-list-leave-active {
    transition: all 1s;
}

.collapse-transition-list-enter-from,
.collapse-transition-list-leave-to {
    opacity: 0;
    transform: translateY(-30px);
}

.collapse-transition-list-leave-active {
    position: absolute !important;
}

.collapse-transition-opacity-transition {
    transition: opacity getCssVar('transition-duration') cubic-bezier(0.55, 0, 0.1, 1);
}



.hx-card {
    position: relative;
    box-shadow: 0 .375rem .75rem rgba(140, 152, 164, .10);
    background-color: #fff;
    border-radius: 0.75rem;
    border: .0625rem solid rgba(231, 234, 243, .7);
    padding: 1.3125rem 1.3125rem;
}

.apexcharts-tooltip.apexcharts-theme-light {
    border-radius: 0.475rem;
    box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15);
    border: 0 !important;
    background: #ffffff !important;
    color: #3F4254;
}

.apexcharts-tooltip {
    border-radius: 5px;
    box-shadow: 2px 2px 6px -4px #999;
    cursor: default;
    font-size: 14px;
    left: 62px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    white-space: nowrap;
    z-index: 12;
    transition: 0.15s ease all;
}

.apexcharts-tooltip.apexcharts-theme-light .apexcharts-tooltip-title {
    background: #ffffff !important;
    font-weight: 500;
    color: #3F4254;
    border-bottom: 1px solid #F5F8FA !important;
}


.multiselect__content-wrapper {
    box-shadow: 0 0 50px 0 rgba(82, 63, 105, .15);
    border-radius: .475rem;
    border: unset !important;
}

.multiselect__tags {
    border-radius: .475rem !important;
    // border: unset !important;
}

.multiselect__select::before {
    position: relative;
    right: 0;
    top: 65%;
    color: #adadad !important;
    margin-top: 0 !important;
    border-style: unset !important;
    border-width: unset !important;
    ;
    border-color: unset !important;
    ;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e") !important;
}

.multiselect__select {
    // top: 50% !important;
    transform: rotate(0deg) !important;
    width: 28px !important;
    height: 25px !important;
}

.multiselect__input::placeholder {
    color: #adadad !important;
    display: inline-block !important;
    margin-bottom: 10px !important;
    padding-top: 2px !important;
    font-size: 14px !important;
}

.multiselect__option:after {
    top: 0;
    right: 0;
    position: absolute;
    line-height: 40px;
    padding-right: 12px;
    padding-left: 20px;
    font-size: 13px;
    // display: none !important;
}

.multiselect__option--highlight {
    background: $primary-light !important;
    outline: none;
    color: #333 !important;
}

.multiselect__option--selected {
    background: #f3f3f3;
    color: #35495e;
    font-weight: 700;
}