.hx-dropdown {
    position: relative;
    z-index: 140;

    &-menu {
        // position: absolute;
        // box-shadow: 0 .375rem .75rem rgba(140, 152, 164, .10);
        // background-color: #fff;
        // border-radius: 0.75rem;
        // border: .0625rem solid rgba(231, 234, 243, .7);
        // padding: 1rem 1rem;

        border-radius: .475rem;
        background-color: #fff;
        box-shadow: 0 0 50px 0 rgba(82, 63, 105, .15);
    }


    &-item {

        &:hover {
            background-color: $gray-200;
        }
    }
}