//
// Pagination
//

.hx-pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin: 0;

    &__number,
    .btn-prev,
    .btn-next {
        width: 36px;
        height: 36px;
        border-radius: 12px;
        padding: 0;
        background: rgb(240, 243, 244);
        margin: 0 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.9rem;
        transition: all 0.25s ease;
        color: rgba(var(--vs-text), 1);
        position: relative;
        border: 0;


        &.is-active {
            background: $primary !important;
            color: #ffffff !important;
        }
    }


}