.hx-upload {
    &__input {
        position: relative;
        border-radius: .475rem;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 9rem !important;
        // width: 60% !important;
        margin: 0 auto;
        box-shadow: 0 .1rem 1rem .25rem rgba(0, 0, 0, .05);
        border-radius: .475rem;
        cursor: pointer;

        input {
            width: 0 !important;
            height: 0 !important;
            overflow: hidden;
            opacity: 0;
        }
    }

    &__input-wrapper {}
}