 @tailwind base;
 @tailwind components;
 @tailwind utilities;
 //  $mode: default;
 // Initialize
 @import "init";
 // Components
 @import "./core/components/components";
 // Layout
 @import "layout/layout";
 //  @import "swiper/css";
 //  @import "swiper/css/pagination";
 //  @import "swiper/css/navigation";

 body,
 html {
     font-family: YekanBakh, sans-serif;
     direction: rtl;
     text-align: right;
     height: 100%;
     margin: 0px;
     padding: 0px;
     //  font-size: 13px !important;
     font-weight: 400;
 }

 body {
     display: flex;
     flex-direction: column;
     color: #181C32;
     padding-top: 7rem;
 }